<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MgmtSvcCloud</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pulkasjr.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>pulkasjr.scm.gear.host:443</MSDeployServiceURL>
    <DeployIisAppPath>pulkasjr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pulkasjr</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppExercicioPratico03_Lab2_2017_2.Models.ApplicationDbContext, WebAppExercicioPratico03-Lab2-2017-2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SistemaAcademicoContext" Order="2" Enabled="False">
          <Destination Path="Data Source=mssql6.gear.host;Initial Catalog=bdpulkasjr;Persist Security Info=True;User ID=bdpulkasjr;Password=Ru85aHMd?3_p" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppExercicioPratico03_Lab2_2017_2.Models.SistemaAcademicoContext, WebAppExercicioPratico03-Lab2-2017-2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="SistemaAcademicoContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql6.gear.host;Initial Catalog=bdpulkasjr;Persist Security Info=True;User ID=bdpulkasjr;Password=Ru85aHMd?3_p</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>